@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");

:root {
  --dark: #27173a;
  --gray: #737278;
  --light-gray: #f3f4f6;
  --lighter-gray: #f1f5f8;
  --black: #26252a;
  --white: #fff;
  --blue: #2563eb;
  --dark-blue: #1e40af;
  --light-blue: #60a5fa;
  --footer: #27173a;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Lexend Deca", sans-serif;
}
/* html {
  overflow-x: hidden;
} */
img {
  width: 100%;
}
h2 {
  font-size: 2.5rem;
  font-weight: normal;
}
body.dark {
  --white: #0c0c1e;
  --gray: #fbfbfb;
  --dark: #fbfbfb;
}
body {
  background: var(--white);
  color: var(--dark);
  height: 100vh;
  width: 100%;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader .loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 190px;
  background-image: url('qiqi_loading.gif');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

#loader .loading-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#loader .loading-text {
  position: relative;
  z-index: 2;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
nav {
  width: 100%;
  height: 90px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}
.menu {
  display: none;
}
/* .hamburger{
  display: none;
} */
nav .title {
  font-size: 35px;
  font-weight: 500;
}
nav ul {
  display: flex;
  gap: 3rem;
}
nav ul li a {
  color: var(--dark);
  font-size: 20px;
  font-weight: 300;
}
nav ul li .active,
nav ul li a:hover {
  color: var(--blue);
  text-decoration: underline 3px;
}

/* =========================== */
.switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--gray);
  cursor: pointer;
  position: relative;
}
.switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
#switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}



/* MAIN-CONTENT */
.main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 200px;
}
.main h2 {
  font-size: 40px;
}
.main h1 {
  font-size: 50px;
}
.main p {
  font-size: 22px;
  color: var(--gray);
}
.set {
  padding-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.acc {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
.acc a {
  font-size: 35px;
  color: var(--dark);
}
.acc a:hover {
  color: var(--blue);
}
.pic {
  display: flex;
  gap: 10px;
  padding-top: 150px;
}
.pic img {
  border-radius: 10px;
}
.pic .one {
  width: 160px;
  padding-top: 40px;
}
.pic .two {
  width: 320px;
}
.pic .three {
  padding-top: 40px;
  width: 170px;
}
.one:hover,
.two:hover,
.three:hover {
  transform: scale(1.05);
}

/* PROJECT==================================== */
.recent {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recent-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: -9rem;
}
.project-port {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.card {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}
.cdscdb {
  width: 60%;
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
  padding-bottom: 4rem;
}
.card-button {
  transform: translate(-50%, 125%);
  width: 36%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
  font-size: 1rem;
}

/*Text*/
.text-title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: -6rem;
  text-align: center;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* ABOUT ME ===========================*/
.about {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.waste {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  gap: 50px;
}
.waste .nal {
  width: 250px;
  border-radius: 20px;
  margin-left: 100px; 
  /* animation: anime  2s infinite ease-in-out alternate;
  -webkit-animation: anime 2s infinite ease-in-out alternate; */
}
/* @keyframes anime{
  50%{
    transform: translateY(-40px);
  }
} */

.exp {
  width: 20%;
  color: var(--gray);
}
.exp p {
  font-size: 20px;
}
.btn {
  position: absolute;
  bottom: 5%;
  padding: 13px 12px;
  font-size: 15px;
  background-color: var(--blue);
  color: var(--light-gray);
  border: none;
  border-radius: 10px;
}
.btn i {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 3px;
}
.btn:hover {
  background-color: var(--dark-blue);
}

/* SKILLS-------- */
.skills {
  position: relative;
  width: 100%;
  height: 60%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myskill {
  position: relative;
  text-align: center;
}
.img-box {
  position: relative;
  display: flex;
  gap: 3rem;
  margin-top: 5rem;
}
.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: ease-in-out 0.3s;
}
.details img {
  max-width: 90px;
}
.img-box #css {
  max-width: 65px;
}
.details:hover {
  transform: scale(1.2);
}

/* Qualifications=================================== */
#quali {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.qual {
  position: relative;
  text-align: center;
}
#quali p {
  color: var(--gray);
  font-size: 1rem;
}
.title-qual{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 12rem;
}
.title-qual .button{
  text-decoration: underline 2px solid;
  font-size: 1.2rem;
  transition: .2s ease-in;
  color: var(--dark);
}
.title-qual h3:hover{
  transform: scale(1.2);
}
.title-qual #active{
  color: var(--blue);
}
.tion{
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.teamwan{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 3rem;
}
.teamto{
  display: hidden;
  flex-direction: column;
  margin-top: 3rem;
}
.teamto .group{
  margin-bottom: 4rem;
}
.group:hover{
  transform: scale(1.1);
}




/* GET IN TOUGH====================================== */
  .touch {
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .touch h1 {
    font-size: 3.5rem;
    font-weight: 500;
  }
  .touch p {
    font-size: 1.2rem;
    margin-top: 2rem;
    width: 60%;
    text-align: center;
    color: var(--gray);
  }
  .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  .input {
    min-height: 50px;
    max-width: 250px;
    padding: 0 1rem;
    color: var(--dark);
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  .button--submit {
    min-height: 50px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  .input:focus,
  .input:focus-visible {
    border-color: #3898ec;
    outline: none;
  }

/* FOOTER-------------------- */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: var(--footer);
  text-align: center;
}
footer p {
  color: var(--lighter-gray);
  font-weight: 500;
  font-size: 20px;
  padding-top: 30px;
}

/* RESPONSIVE ------------------*/
@media screen and (max-width: 500px) {
  body{
    offset: none;
  }
  .header {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
  }
  nav{
    display: flex;
    gap: 5rem;
  }
  nav .title {
    font-size: 30px;
  }
  nav ul li a {
    display: none;
  }
  .header .main {
    position: absolute;
    align-items: center;
    display: flex;
  }
  .main .set {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    bottom: -200px;
  }
  .set h1 {
    font-size: 3rem;
    width: 100%;
    font-weight: 500;
  }
  .set h2 {
    font-size: 2rem;
    font-weight: 400;
  }
  .set p {
    font-size: 1rem;
  }
  .acc a {
    font-size: 40px;
    margin: 0 -5px;
  }
  .main .pic {
    width: 350px;
  }
  .about .waste img {
    width: 150px;
    height: 90%;
    margin-left: -10px;
  }
  .about .exp p{
    font-size: 1rem;
    width: 85%;
    margin-left: 1rem;
  }
  .about .waste .exp {
    position: relative;
    width: 50%;
    margin: 0 -45px;
  }
  .about .exp .btn{
    width: 7rem;
    height: 1rem;
    font-size: .7rem;
    margin-bottom: 1rem;
    position: absolute;
    padding-bottom: 2rem;
  }
  .about .btn i{
    width: 3%;
  }
  .skills .img-box{
    width: 200px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .skills .img-box .details{
    font-size: 1rem;
    align-items: center;
  }
  .skills img{
    width: 3rem;
  }
  .qualification{
    margin-top: 5rem;
  }
  .title-qual{
    display: flex;
    gap: 5rem;
  }
  .title-qual #active,
  .title-qual #not{
    font-size: 1rem;
  }
  #quali .tion p{
    font-size: 1rem;
  }
  .touch{
    height: 40%;
  }
  .touch p{
    font-size: 1rem;
    width: 80%;
  }
  .touch .input-group{
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
  .touch .input-group #email{
    width: 150px;
  }
  footer{
    height: 70px;
    width: 100%;
  }
  footer p{
    font-size: 1rem;
  }
}

/* @media screen and (max-width: 576px){
  #head{

  }
} */